/.venv/
__pycache__/

/.mypy_cache/
/.pytest_cache/

/.vscode/*
!.vscode/launch.json
!.vscode/extensions.json

/configs/*
!configs/__init__.py
!configs/base_conf.py
!configs/url_mgr.py
!configs/*.example.*
