<div
  style="
    font-size: 1.2em;
    width: 34em;
    margin: 5em auto;
    border: #9575cd;
    border-style: dashed;
    border-radius: 1.8em;
    padding: 1em 2em;
    line-height: 0.9em;
  "
>
  <p style="font-size: 1.3em;">你好&ensp;{{name}} :</p>

  <hr style="margin: 1.5em 0;" />

  <p>
    <i style="color: gray;">//这里省略 (假装) 很严谨的介绍和说明 1,000 字</i>
  </p>
  <p>简单来说 olea 就是你以后会经常用到的接稿系统</p>
  <p>相关的说明放在通知群的群文件里了&ensp;有不清楚的事项可以去找你的部长</p>
  <p>需要技术支持可以去找&ensp;K3 (QQ: 291232454, Line: Pluto)</p>
  <p style="color: #f57c00;">
    如果这封邮件被你的邮箱供应商拦截了&ensp;请把域名加到白名单里
  </p>

  <hr style="margin: 1.5em 0;" />

  <p>那么&ensp;从收到这封邮件开始&ensp;你就可以正常访问你的账号啦</p>
  <p>下面这几件小事&ensp;还希望能注意一下:</p>

  <p>想换用户名的话之后随时可以去找管理改&ensp;但是主群的名片也要同步更改</p>

  <hr style="margin: 1.5em 0;" />

  <div
    style="
      color: #29b6f6;
      font-size: 1.6em;
      text-align: center;
      line-height: 0.9em;
    "
  >
    <p>最后 . . .</p>
    <p>欢迎加入配音团 ヾ(≧▽≦*)o</p>
  </div>

  <hr style="margin: 1.5em 0;" />

  <p>来自:&ensp;第7开发部</p>
</div>
