<div
  style="font-size: 1.2em; width: 34em; margin: 5em auto; border: #9575cd; border-style: dashed; border-radius: 1.8em; padding: 1em 2em; line-height: 0.9em">
  <p style="font-size: 1.3em">你好 {{name}} :</p>

  <hr style="margin: 1.5em 0">

  <p><I style="color: gray">//这里省略 (假装) 很严谨的介绍和说明 1,000 字</I></p>
  <p>简单来说 olea 就是你以后会经常用到的接稿系统</p>
  <p>相关的说明放在通知群的群文件里了 有不清楚的事项可以去找你的部长</p>
  <p>需要技术支持可以去找 K3 (QQ: 291232454, Line: Pluto)</p>
  <p style="color: #f57c00">如果这封邮件被你的邮箱供应商拦截了 请把域名加到白名单里</p>

  <hr style="margin: 1.5em 0">

  <p>那么 这个就是你的登录信息啦 (记得把密码改成你自己的哦)</p>
  <p>从收到这封邮件开始 你就可以正常访问你的账号啦</p>
  <table
    style="color: #388e3c; font-size: 1.25em; line-height: 1.5em; border: #aed581; border-style: solid; border-radius: 1.2em; padding: 0.7em; margin: 1.2em auto; border-width: 0.08em">
    <tr>
      <td style="text-align: right">名字: </td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <td style="text-align: right">口令: </td>
      <td>{{pwd}}</td>
    </tr>
  </table>
  <p>想换用户名的话之后随时可以去找管理改 但是主群的名片也要同步更改</p>
  <p>口令丢了也去找管理重置就可以了 (因为他们也不知道你的口令)</p>

  <hr style="margin: 1.5em 0">

  <div style="color: #29B6F6; font-size: 1.6em; text-align: center; line-height: 0.9em">
    <p>最后 . . .</p>
    <p>欢迎加入配音团 ヾ(≧▽≦*)o</p>
  </div>

  <hr style="margin: 1.5em 0">

  <p>来自: 第7开发部</p>
</div>
